<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Flight</th>
                <th>To</th>
                <th>From</th>
                <th>Time</th>
                <th>Price</th>
                <th>Check</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Flight</th>
                <th>To</th>
                <th>From</th>
                <th>Time</th>
                <th>Price</th>
                <th>Check</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>N234</td>
                <td>Harare</td>
                <td>Bulawayo</td>
                <td>10am-12am</td>
                <td>$30</td>
                <td></td>
            </tr>
            <tr>
                <td>N234</td>
                <td>Bulawayo</td>
                <td>Harare</td>
                <td>12am-2am</td>
                <td>$40</td>
                <td></td>
            </tr>
            <tr>
                <td>N567</td>
                <td>kariba</td>
                <td>Harare</td>
                <td>2pm-3pm</td>
                <td>$30</td>
                <td></td>
            </tr>
            <tr>
                <td>N890</td>
                <td>Johannesburg</td>
                <td>Harare</td>
                <td>10am-12am</td>
                <td>$40</td>
                <td></td>
            </tr>
            <tr>
                <td>N678</td>
                <td>Lusaka</td>
                <td>Kariba</td>
                <td>4pm-8pm</td>
                <td>$20</td>
                <td></td>
            </tr>
            <tr>
                <td>n389</td>
                <td>Bulawayo</td>
                <td>lusala</td>
                <td>6pm-9pm</td>
                <td>$10</td>
                <td></td>
            </tr>   
        </tbody>
    </table>